@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>
    We let Company get the evrey view of their employees and clients even monitoring the transactions.The clients will get every month a unique code through which the employee will get the payment from the client.

    <h4>Our Goal</h4>

    <ul>
        <li>Ensuring Company's Monitoting</li>
        <li>Ensuring payment transaction properly</li>
        <li>Providing facility to ensure past payment records </li>
    </ul>
</p>
