@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Ensure Billing Web Application</h1>
    <p class="lead">Ensure Billing is a system that tries too increase clients reliability on paying their bills and terminates the issue losing payment prove .</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
          At first select your user category, then register as a Company/Employee/Client
            to get into the EBS's online activities then everytime when you visit our site 
            you just have to login.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Activities</h2>
        <p>We let Company get the evrey view of their employees and clients even monitoring the transactions.The clients will get every month a unique code through which the employee will get the payment from the client.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Our Goal</h2>
        <p><ul>
            <li>Ensuring Company's Monitoting</li>
            <li>Ensuring payment transaction properly</li>
            <li>Providing facility to ensure past payment records </li>
            </ul></p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>